@import url("../../config.css");
@import url("../../styles/easings.css");

.page {
  padding: 3rem;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 1rem;
  justify-content: center;
}

button.button {
  --button-background: var(--grey-light);

  /* Shape & position */
  display: inline-block;
  width: 100%;
  height: 68px;
  position: relative;

  /* Decoration */
  border-radius: 8px;
  background-color: var(--button-background);
  border: none;
  outline: none;

  /* Effects */
  cursor: pointer;
  transition: all 100ms ease-out;

  /* Button states */
  &:hover,
  &:focus-visible,
  &.selected:hover {
    --button-background: var(--purple);

    transform: translateY(-2px);

    .icon svg {
      transform: scale(1.05);
      animation: slot-machine 250ms var(--ease-out-3) forwards;
    }
  }

  &:active,
  &.selected:active {
    --button-background: var(--black);

    .icon svg {
      fill: var(--purple);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--button-background);
    outline-offset: 3px;
  }

  &.selected {
    --button-background: var(--neon-yellow);
  }

  /* Icon */
  .icon {
    width: 100%;
    height: 100%;
    overflow: hidden;
    place-content: center;
    
    

    svg {
      height: 29px;
      fill: var(--foreground-color);
    }
  }


  /* Tag */
  .tag {
    --_height: 24px;

    position: absolute;
    bottom: calc(var(--_height) * -1 + -4px);
    left: 0;
    width: 100%;
    height: var(--_height);
    border-radius: 4px;
    place-content: center;
    opacity: 0;

    background-color: var(--black);
    color: var(--purple);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;

    transition: all 150ms ease-out;
    transform: translateY(-5px);
  }

  &:hover,
  &:focus-visible {
    .tag {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes slot-machine {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
